@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/Open_sans/OpenSans-Bold.eot');
    src: url('../fonts/Open_sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_sans/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/Open_sans/OpenSans-Bold.woff') format('woff'),
        url('../fonts/Open_sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open_sans/OpenSans-Regular.eot');
    src: url('../fonts/Open_sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_sans/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/Open_sans/OpenSans-Regular.woff') format('woff'),
        url('../fonts/Open_sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/Open_sans/OpenSans-Light.eot');
    src: url('../fonts/Open_sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_sans/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/Open_sans/OpenSans-Light.woff') format('woff'),
        url('../fonts/Open_sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans SemiBold';
    src: url('../fonts/Open_sans/OpenSans-SemiBold.eot');
    src: url('../fonts/Open_sans/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_sans/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Open_sans/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/Open_sans/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('../fonts/Open_sans/OpenSans-ExtraBold.eot');
    src: url('../fonts/Open_sans/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Open_sans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/Open_sans/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/Open_sans/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

