body {
  padding: 0;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  letter-spacing: 0;
  background: #fff;
  margin: 0;
  max-width: 100%;
  color: #000 !important ;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
.mobile-only {
  display: none;
}
.container {
  width: 100% !important;
  max-width: 1480px !important;
  margin: 0 auto;
  padding: 0 60px;
}
.header {
  padding: 0px 25px;
  height: 65px;
  position: relative;
  width: 100%;
  max-width: 1600px !important;
  margin: 0 auto;
}
a {
  display: inline-block;
}
a:hover {
  text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  text-transform: initial;
  padding: 0;
  text-decoration: none;
}
.header-container {
  width: 100% !important;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 5;
  position: absolute;
}
.header .navbar {
  padding: 15px 0 !important;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: transparent;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.navbar-header {
  width: 100%;
  max-width: 88%;
  display: flex;
}
.header .navbar .navbar-brand-logo {
  width: 100%;
  max-width: 140px;
}
.header .navbar-expand-sm .navbar-nav .nav-link {
  font-family: Space Grotesk;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  margin: 0 25px;
  padding: 0;
  border-bottom: 1px solid transparent;
  text-transform: capitalize;
}
a.nav-link.bordered-text.color-cta {
  background: #fff;
  color: #000 !important;
}
.header .navbar-expand-sm .navbar-nav .nav-link:hover {
  border-bottom: 1px solid;
  border-color: hsla(0, 0%, 100%, 0.4) !important;
}
.header .navbar-expand-sm .navbar-nav .bordered-text:hover {
  background-color: #ddd5cd;
}
.header .navbar-expand-sm .bordered-text {
  font-weight: 700 !important;
  border: 2px solid #c3beb9;
  height: 40px;
  border-radius: 2px;
  background-color: #c3beb9;
  display: flex;
  color: #000 !important;
  align-items: center;
  padding: 10px 12px !important;
  margin: 0px !important;
  font-size: 16px !important;
  box-shadow: 0px 0px 10px 2px rgb(0 0 255 / 15%);
  transition: 0.8s;
}
.header.sticky,
.header-container.sticky {
  position: sticky;
  top: 0px;
  z-index: 9999;
  background: #000;
  width: 100%;
  margin: 0 auto;
  animation: slide-down 0.8s;
  opacity: 1;
}
@keyframes slide-down {
  0% {
    opacity: 0.5;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body.overflow {
  overflow: hidden;
}
/* Toggle menu */
#toggle {
  display: none;
  width: 22px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 22px;
}
#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -7px;
}
#menu li.nav-item a.nav-link {
  font-family: "Source-Sans-Pro-Normal";
  font-size: 16px;
  padding: 0 0 16px;
}
#toggle span:after {
  top: 7px;
}
#toggle span {
  position: relative;
  display: block;
}
#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 6px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(4px, -5px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}
#menu {
  position: absolute;
  top: 70px;
  right: 0;
  color: #999;
  width: 100%;
  max-width: 260px;
  padding: 10px 24px;
  margin: 0 0 0 auto;
  text-align: left;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 25%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
  z-index: 99999;
}
ul,
li,
li a {
  list-style: none;
  padding: 0;
}
li a {
  padding: 5px;
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}
#menu a.bordered-text {
  border: 2px solid #66b6f8;
  height: 40px;
  border-radius: 2px;
  background-color: #66b6f8;
  display: flex;
  align-items: center;
  padding: 0 18.65px !important;
  font-size: 18px !important;
  box-shadow: 0px 0px 10px 2px rgb(0 0 255 / 15%);
  color: #fff !important;
  justify-content: center;
  width: 100%;
  max-width: 68%;
  line-height: 0 !important;
  font-family: "Source-Sans-Pro-600" !important;
}
#menu li.nav-item {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
/* footer */
.footer-outer {
  background: #000;
  padding: 60px 40px;
}
.footer-outer .container {
  width: 100% !important;
  max-width: 1600px !important;
  padding: 0;
}
.footer-menu a.navbar-brand-logo img {
  width: 100%;
  max-width: 21%;
}
.navbar-footer a.nav-link {
  font-size: 28px;
  line-height: 29px !important;
  color: #fff;
  font-family: "Space Grotesk";
  font-weight: 400;
  border-bottom: 1px solid transparent;
  transition: border-color 0.2s;
  text-decoration: none;
  cursor: pointer;
  padding: 0 0 4px 0;
  margin: 0 0 8px 0;
}
.navbar-footer a.nav-link:hover {
  border-bottom: 1px solid #fff;
}
.navbar-footer ul.navbar-nav {
  padding-right: 70px;
}
.navbar-footer {
  display: flex;
  text-align: left;
  padding: 50px 0;
}
.navbar-footer a.active-item {
  border-bottom: 1px solid #fff;
}
.navbar-footer li.nav-item {
  display: inherit;
}
h1.footer-right-side-title {
  color: #fff;
  font-size: 42px;
  line-height: 50px !important;
  padding-bottom: 60px;
  margin-bottom: 35px;
  font-family: "Space Grotesk";
  background-position: 0 100%;
  background-image: url(../images/footer-arrow.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.footer-menu .column-left {
  width: 100%;
  max-width: 55% !important;
}
.footer-menu .column-right {
  width: 100%;
  max-width: 45% !important;
  background-position: 100% 0;
  background-image: url(../images/footer-bg-image.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.row.footer-menu {
  margin: 0;
}
.footer-right-side-desc p {
  font-size: 20px;
  line-height: 25px !important;
  margin-bottom: 0;
  color: #fff;
  font-family: "Space Grotesk";
  width: 100%;
  max-width: 63%;
}
.footer-right-side-desc a.btn {
  font-size: 17px;
  line-height: 25px !important;
  background-color: #ebe4bd;
  color: #000;
  cursor: pointer;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Space Grotesk";
  font-weight: 700;
  padding: 15px 25px;
}
.footer-right-side-desc a.btn:hover {
  background: #fff;
}
.footer-right-side {
  padding: 26px 0 0 0;
}
.footer-right-side-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-links-social a.social-icons {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 30px 30px;
}
a.social-icons.footer-links-socialitem-facebook {
  background-image: url(../images/facebook.png);
}
a.social-icons.footer-links-socialitem-instagram {
  background-image: url(../images/instagram.png);
}
a.social-icons.footer-links-socialitem-linkedin {
  background-image: url(../images/linkdin.png);
}
a.footer-links-below-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 20px !important;
  color: #fff;
  opacity: 0.5;
  margin: 20px 25px 0 0;
  cursor: pointer;
}
a.footer-links-below-item:hover {
  opacity: 1;
  color: #fff;
}
/* Banner */
.banner-outer {
  background: #f2f0ec;
  position: relative;
}
.banner-txt {
  width: 100%;
  max-width: 55%;
  padding: 140px 0 50px 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.banner-txt h1 {
  font-size: 75px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 80px;
  font-weight: 400;
}
.banner-txt h2 {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 75px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 80px;
  letter-spacing: -0.01em;
}
.banner-txt p {
  font-size: 23px;
  line-height: 30px;
  font-family: "Space Grotesk";
  color: #fff;
  letter-spacing: -0.02em;
  padding: 60px 155px 30px 0;
}
.banner-txt .banner-btns p {
  padding: 0 0 0 30px;
  margin: 0;
}
.banner-btns a.btn {
  font-size: 17px;
  line-height: 25px !important;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Space Grotesk";
  font-weight: 700;
  padding: 15px 25px;
  text-transform: capitalize;
}
.banner-btns a.btn:hover {
  background-color: #000;
}
.banner-btns {
  display: flex;
  align-items: center;
}
.banner-btns p span {
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Source-Sans-Pro-Normal";
  float: left;
  width: 100%;
  max-width: 60%;
}
.banner-slider-sec .card-block a {
  display: flex;
  flex-direction: column;
}
.slider-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-row-single .card-block {
  filter: blur(10px) contrast(120%) brightness(75%);
  -webkit-filter: blur(10px) contrast(120%) brightness(75%);
}
.slider-row-single img.card-img {
  height: 700px;
  object-fit: cover;
  display: none;
}
.slider-z .slick-center img.img-fluid.card-img {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  transform: scale(1.5);
  margin-top: -51px;
  background: transparent;
}
.card-block.slick-slide.slick-current.slick-active.slick-center img.logo-img {
  margin-top: 51px;
}
/* .slider-z .slick-center {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  transform: scale(1.5);
  margin-top: -63px;
  background: transparent;
} */
.card-img,
.card-img-bottom {
  border: none !important;
  border-radius: 0 !important;
}
.slider-z .slick-list {
  padding: 85px 60px 0px !important;
}
.slider-row {
  margin-top: -107px;
  z-index: 2;
}
.banner-slider-sec img.logo-img {
  background-color: transparent;
}
.slider-y {
  position: absolute !important;
  top: 31%;
  left: 50%;
  width: 100% !important;
  max-width: 30% !important;
  display: flex !important;
}
.slider-y li h3 {
  font-family: "Space Grotesk";
  font-size: 28px;
  text-transform: capitalize;
  margin: 0;
  color: #fff;
  font-weight: 600;
}
.slider-y img.image,
.slider-y img.profile {
  display: inline-block;
}
.story-section-pointer {
  position: absolute;
  top: 31%;
  left: 47%;
  height: 20vw;
  padding: 25px 0 2vw 20px;
  width: 30px;
  display: block;
  overflow: hidden;
  z-index: 111;
}
.story-section-line {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-right: none;
  border-bottom: none;
}
.story-section-circle {
  top: 89.8%;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 15px;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 11px;
  height: 11px;
}
.banner-bottom-txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 60px;
  position: absolute;
  top: 0;
  margin: 45px 0 0;
}
.banner-bottom-txt .right-side {
  width: 100%;
  max-width: 30%;
  align-self: flex-end;
}
.banner-bottom-txt .left-side h1 {
  font-size: 70px;
  padding: 75px 0 0 0;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 55px;
  font-weight: 400;
  background-repeat: no-repeat;
  background-image: url(../images/arrow-big-up.png);
  background-size: 40px 42px;
}
.banner-bottom-txt .left-side h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  opacity: 0.6;
  letter-spacing: -0.01em;
}
.banner-bottom-txt .right-side p {
  font-family: "Space Grotesk";
  font-size: 20px;
  color: #fff;
  font-weight: 400;
}
.banner-bottom-txt .right-side a {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-family: "Space Grotesk";
  padding: 0 25px 0 0;
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
  letter-spacing: -0.04em;
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url(../images/forward-arrow-white.png);
  background-size: 15px 15px;
}
.slider-zx {
  display: flex;
}
.bottom-heading {
  position: relative;
  top: -70px;
  z-index: 1;
}
.slider-zx .bg-1 {
  height: 430px !important;
  width: 10%;
}
.slider-x .card-block.slick-slide a {
  background-repeat: no-repeat;
  background-position: 100%;
  height: 700px;
  background-size: 60% 100%;
}
.slider-x .card-block.slick-slide[data-slick-index="0"] a {
  background-image: url(../images/slide-1.png);
}
.slider-x .card-block.slick-slide[data-slick-index="1"] a {
  background-image: url(../images/slide-2.png);
}
.slider-x .card-block.slick-slide[data-slick-index="2"] a {
  background-image: url(../images/slide-3.png);
}
.slider-x .card-block.slick-slide[data-slick-index="3"] a {
  background-image: url(../images/slide-4.png);
}
.slider-x .card-block.slick-slide[data-slick-index="4"] a {
  background-image: url(../images/slide-5.png);
}
.slider-x .card-block.slick-slide[data-slick-index="5"] a {
  background-image: url(../images/slide-6.png);
}
.slider-x .card-block.slick-slide[data-slick-index="6"] a {
  background-image: url(../images/slide-7.png);
}
.slider-x .card-block.slick-slide[data-slick-index="7"] a {
  background-image: url(../images/slide-8.png);
}
.slider-x .card-block.slick-slide[data-slick-index="0"] {
  background: #b58c53;
}
.slider-x .card-block.slick-slide[data-slick-index="1"] {
  background: #383934;
}
.slider-x .card-block.slick-slide[data-slick-index="2"] {
  background: #34382b;
}
.slider-x .card-block.slick-slide[data-slick-index="3"] {
  background: #4b2921;
}
.slider-x .card-block.slick-slide[data-slick-index="4"] {
  background: #010127;
}
.slider-x .card-block.slick-slide[data-slick-index="5"] {
  background: #3e3530;
}
.slider-x .card-block.slick-slide[data-slick-index="6"] {
  background: #0b2218;
}
.slider-x .card-block.slick-slide[data-slick-index="7"] {
  background: #8d7c6f;
}
/* How it works */
.wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 30px;
}
.how-it-works-outer {
  background: #f2f0ec;
  padding: 30px 20px 70px;
}
.how-it-works-outer p {
  text-transform: uppercase;
  font-family: "Open Sans Regular";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  text-align: center;
}
.how-it-works-outer h1 {
  font-size: 60px;
  line-height: 70px;
  font-family: "Space Grotesk";
  font-weight: 500;
  color: #000;
  letter-spacing: -0.03em;
  padding-bottom: 70px;
  text-align: center;
  margin: 0;
}
.how-it-works-row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 75px;
}
.how-it-works-row .box span {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 5px;
  color: #000;
}
.how-it-works-row .box h2 {
  font-family: "Open Sans Regular";
  font-weight: bold;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: -0.04em;
  padding: 5px 0 14px;
  margin: 0;
}
.how-it-works-row .box p {
  font-family: "Space Grotesk";
  font-weight: 400;
  text-transform: none;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #525252;
  letter-spacing: -0.01em;
}
.how-it-works-row .box {
  width: 100%;
  max-width: 28%;
  margin: 0 3%;
  padding: 0 0 35px;
}
/* Lets start */
.lets-start-section-outer {
  background: #f8f8f8;
  margin-top: 88px;
}
.lets-start-section-outer .text {
  padding: 80px 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lets-start-section-outer .text h1 {
  font-size: 70px;
  line-height: 75px;
  margin-bottom: 0;
  font-family: "Space Grotesk";
  font-weight: 500;
  color: #000;
  letter-spacing: -0.04em;
  background-repeat: no-repeat;
  background-position: 76% 89%;
  background-size: 40px 40px;
  background-image: url(../images/end-arrow-right.png);
}
.lets-start-btns {
  width: 100%;
  max-width: 50%;
  padding: 0 0 0 240px;
  text-align: right;
}
.lets-start-section-outer .lets-start-btns p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #000;
}
.lets-start-btns a.btn {
  font-size: 17px;
  line-height: 25px !important;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000;
  cursor: pointer;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Space Grotesk";
  font-weight: 700;
  padding: 15px 25px;
  border-radius: 4px;
}
* {
  box-sizing: border-box;
}
/* Experts Section*/
.experts-section-outer {
  position: relative;
  padding: 100px 60px 40px;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: 86% 20%;
  background-size: 65% 58%;
  background-color: #000;
}
.experts-section-outer .experts-text-section {
  width: 100%;
  max-width: 40%;
  position: absolute;
  top: 14%;
}
.slider-experts.slider-experts-row.slick-initialized.slick-slider {
  width: 100%;
  max-width: 23%;
  margin: 0 180px 0 auto;
}
.slider-experts a img.card-img {
  height: 400px;
  object-fit: none;
}
/* .slider-experts a .txt {
  width: 100%;
  max-width: 48%;
  margin: 0 auto;
  padding: 0 0;
} */
.slider-experts a h2 {
  font-family: "Open Sans Regular";
  font-size: 23px;
  line-height: 34px;
  letter-spacing: -0.04em;
  padding: 12px 0 7px;
  margin: 0;
  color: #fff;
  opacity: 0.8;
}
.slider-experts a p {
  color: #fff;
  opacity: 0.5;
  font-family: "Space Grotesk";
  text-transform: none;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.experts-text-section p {
  text-transform: uppercase;
  font-family: "Open Sans Regular";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.4);
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  text-align: left;
}
.experts-text-section p:last-child {
  font-family: "Space Grotesk";
  font-weight: 400;
  text-transform: none;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  letter-spacing: -0.01em;
  padding: 0 170px 0 0;
}
.experts-text-section h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  letter-spacing: -0.01em;
}
.experts-text-section h1 span {
  font-size: 70px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 55px;
  font-weight: 400;
  font-style: normal;
}
.experts-text-section .arrow-down {
  background-repeat: no-repeat;
  background-image: url(../images/arrow-big-up.png);
  width: 40px;
  height: 42px;
  display: inline-block;
  transform: rotate(180deg);
  margin: 12px 0;
}
.experts-section-outer .how-it-works-row {
  padding: 100px 0 0;
}
.experts-section-outer .how-it-works-row .box h2 {
  color: #fff;
}
.experts-section-outer .how-it-works-row .box p {
  color: #fff;
  opacity: 0.7;
  font-family: "Space Grotesk";
  font-weight: 600;
}
/* Tab1 */
.projects-sizes-section-outer {
  padding: 70px 40px;
}
.projects-sizes-section-outer .tabs {
  padding: 0 0 50px 0;
}
.projects-sizes-section-outer h1 {
  font-size: 66px;
  line-height: 85px;
  font-family: "Space Grotesk";
  font-weight: 500;
  color: #000;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 0;
}
.projects-sizes-section-outer h2 {
  color: #000;
  font-size: 60px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  letter-spacing: -0.01em;
  float: left;
}
.projects-sizes-section-outer .arrow {
  background-repeat: no-repeat;
  background-image: url(../images/end-arrow-right.png);
  width: 40px;
  height: 42px;
  transform: rotate(90deg);
  margin: 12px 12px;
  float: left;
}
.projects-sizes-section-outer #tabs-nav li {
  font-size: 26px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  font-family: "Space Grotesk";
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #000;
  margin: 15px 2px;
  opacity: 0.33;
  transition: opacity 0.2s;
}
.project-size-item-badge {
  background: #fff;
  display: inline-block;
  position: absolute;
  top: -10px;
  right: 20px;
  padding: 0px 10px;
  border: 1px solid #000;
  font-family: unset;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 18px;
  z-index: 3;
  letter-spacing: 0.1em;
}
.tab-content {
  display: flex;
}
ul#tabs-nav {
  padding: 0 0 40px 0;
}
div#tab1 .box-1,
div#tab1 .box-3,
div#tab3 .box-1,
div#tab3 .box-3 {
  margin-top: 70px !important;
}
div#tab1 .box-2,
div#tab1 .box-4,
div#tab3 .box-2,
div#tab3 .box-4 {
  margin-bottom: 70px !important;
}
div#tab2 .box-2,
div#tab2 .box-4,
div#tab4 .box-2,
div#tab4 .box-4 {
  margin-top: 70px !important;
}
div#tab2 .box-1,
div#tab2 .box-3,
div#tab4 .box-1,
div#tab4 .box-3 {
  margin-bottom: 70px !important;
}
div#tab1 .box-4 .project-size-footer,
div#tab3 .box-4 .project-size-footer {
  bottom: 25px;
}
div#tab2 .box-2 .project-size-footer,
div#tab4 .box-2 .project-size-footer {
  bottom: 0px;
}
div#tab2 .box-4 .project-size-footer,
div#tab4 .box-4 .project-size-footer {
  bottom: 25px;
}
div#tab2 .box-1 .project-size-footer,
div#tab2 .box-3 .project-size-footer,
div#tab4 .box-1 .project-size-footer,
div#tab4 .box-3 .project-size-footer {
  bottom: 50px;
}
ul#tabs-nav li.active {
  opacity: 1;
}
ul#tabs-nav li a:hover {
  color: #000 !important;
  opacity: 0.8;
}
.projects-sizes-section-outer .tab-content .boxes {
  width: 100%;
  max-width: 25%;
  position: relative;
  text-align: left;
  display: inline-block;
  margin: 0 1% 25px;
  padding: 0 0 40px 0;
}
.projects-sizes-section-outer .tab-content .box {
  cursor: pointer;
  z-index: 2;
  background: #799085;
  padding: 25px 25px;
  display: inline-block;
  -webkit-transform: translateY(20px) translateZ(0);
  -moz-transform: translateY(20px) translateZ(0);
  transform: translateY(20px) translateZ(0);
  transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, transform 0.2s, -moz-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition: opacity 0.2s, transform 0.2s, -webkit-transform 0.2s,
    -moz-transform 0.2s;
}
.project-size-item-cardfeature {
  vertical-align: top;
  position: relative;
  overflow: hidden;
  width: 50%;
  opacity: 0.68;
  margin-top: 15px;
  float: left;
}
.projects-sizes-section-outer .tab-content h2 {
  font-family: "Source-Sans-Pro-600";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
  line-height: 25px;
  color: #fff;
  width: 100%;
  padding: 0 0 10px 0;
}
.project-size-item-featuretype {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 800;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-family: "Space Grotesk";
}
.project-size-item-featurevalue {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-weight: 800;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-family: "Space Grotesk";
}
.project-size-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Source-Sans-Pro-900";
  padding-right: 35px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-image: url("../images/view-web-icon.png");
  background-size: 12px 12px;
  cursor: pointer;
}
.projects-sizes-section-outer h3 {
  font-size: 30px;
  line-height: 35px;
  letter-spacing: -0.04em;
  color: #000;
  opacity: 0.7;
  margin-bottom: 5px;
  font-family: "Space Grotesk";
  font-weight: 500;
}
.projects-sizes-section-outer a.footer-btn {
  display: inline-block;
  vertical-align: top;
  font-family: "Source-Sans-Pro-600";
  padding-right: 25px;
  font-size: 17px;
  line-height: 25px;
  border-bottom: 2px solid #000;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("../images/end-arrow-right.png");
  background-size: 15px 15px;
  color: #000;
  letter-spacing: -0.04em;
}
/* Tab2 */
.story-section-outer {
  background: linear-gradient(90deg, #f5f5f5 50%, #e1e5e3 50%);
  padding: 50px 0px 80px;
}
#tabs-content-1 {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}
ul#tabs-nav-1 {
  margin-bottom: 60px;
  display: inline-block;
  padding: 0 40px;
}
ul#tabs-nav-1 li {
  float: left;
}
ul#tabs-nav-1 li {
  opacity: 0.2;
  padding: 5px 24px;
}
ul#tabs-nav-1 li.active {
  opacity: 1;
}
ul#tabs-nav-1 li:hover {
  opacity: 1;
}
#tabs-content-1 .tab-content-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tabs-content-1 .tab-content-1 .left-box {
  width: 100%;
  max-width: 50%;
  padding: 0px 40px 0px;
}
#tabs-content-1 .tab-content-1 .right-box {
  width: 100%;
  max-width: 50%;
  padding: 0px 40px 0px;
}
.tab-content-1 .left-box h1 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #000;
  font-family: "Source-Sans-Pro-700";
}
.tab-content-1 h1 img {
  padding: 0 20px;
}
#tabs-content-1 .footer-txt {
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30px 30px;
  background-image: url("../images/quoted.png");
  margin: 60px 0 0 0;
}
#tabs-content-1 .footer-txt p {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  margin-bottom: 20px;
}
#tabs-content-1 .footer-txt span {
  font-family: "Source-Sans-Pro-900";
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  opacity: 0.4;
}
.story-time-line-step-between {
  overflow: hidden;
  position: relative;
  display: block;
  width: 2px;
  height: 40px;
  margin: 5px 12px;
  background: #9f9f9f;
  opacity: 0.3;
}
.tab-content-1 .right-box p {
  font-size: 20px;
  line-height: 50px;
  color: #000;
  font-family: "Space Grotesk";
  font-weight: 400;
}
.tab-content-1 .right-box p img {
  width: 100%;
  max-width: 8%;
}
/* Review section */
.review-x-slider .card-block.slick-slide[data-slick-index="0"] {
  background: #889ea2;
}
.review-x-slider .card-block.slick-slide[data-slick-index="1"] {
  background: #b2998c;
}
.review-x-slider .card-block.slick-slide[data-slick-index="2"] {
  background: #bcae9f;
}
.review-x-slider .card-block.slick-slide[data-slick-index="3"] {
  background: #b0b7ad;
}
.review-x-slider .card-block.slick-slide[data-slick-index="4"] {
  background: #7fa8a8;
}
.review-x-slider .card-block.slick-slide[data-slick-index="5"] {
  background: #889ea2;
}
.review-x-slider .card-block.slick-slide[data-slick-index="6"] {
  background: #b2998c;
}
.review-x-slider .card-block.slick-slide[data-slick-index="7"] {
  background: #8d7c6f;
}
.review-x-slider img.top-img {
  position: absolute;
  width: 100%;
  max-width: 10%;
  top: 3%;
  left: 4%;
  right: 0;
}
.review-y-slider .card-block {
  position: relative;
}
.review-y-slider .card-block.slick-slide.slick-current p,
.review-y-slider .card-block.slick-slide.slick-current h3,
.review-y-slider .card-block.slick-slide.slick-current h4 {
  color: #fff;
}
/* .review-y-slider .card-block.slick-slide.slick-current img.card-img.brand-logo {
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(196deg) brightness(112%) contrast(111%);
} */
/* .review-y-slider .card-block.slick-slide.slick-current{
opacity: 1;
-webkit-filter: blur(40px);
filter: blur(40px);
} */
.review-x-slider a.js-fillcolor {
  padding: 60px 50px;
}
.review-section-outer {
  position: relative;
}
.review-section-outer .header-txt {
  position: absolute;
  top: 7%;
  z-index: 9;
  right: 8%;
}
.review-y-slider.review-y-slider-row.slick-initialized.slick-slider {
  margin-top: -376px;
}
.review-y-slider .slick-list {
  margin-left: 310px !important;
  padding: 0 8% 0 0 !important;
}
.review-y-slider .card-block {
  width: 100%;
  max-width: 20%;
}
.review-section-outer .header-txt .arrow {
  background-repeat: no-repeat;
  background-image: url(../images/arrow-big-up.png);
  width: 40px;
  height: 42px;
  transform: rotate(180deg);
  margin: 12px 12px;
  float: left;
}
.review-section-outer .header-txt h1 {
  font-size: 66px;
  line-height: 85px;
  font-family: "Space Grotesk";
  font-weight: 500;
  color: #fff;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 0;
}
.review-section-outer .header-txt h2 {
  color: #fff;
  font-size: 60px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  letter-spacing: -0.01em;
  float: left;
}
.review-y-slider .txt-with-img {
  display: flex;
  align-items: center;
  padding-left: 45px;
}
.review-y-slider img.card-img.brand-logo {
  width: 100%;
  max-width: 70%;
  padding-left: 45px;
  filter: invert(52%) sepia(37%) saturate(3228%) hue-rotate(260deg)
    brightness(9%) contrast(85%);
}
.review-y-slider .txt-with-img img {
  margin-right: 20px;
  width: 100%;
  max-width: 15%;
  padding: 0;
}
.review-y-slider .card-block.slick-slide.slick-current p {
  background-image: url("../images/quoted1.png");
}
.review-y-slider p {
  margin-bottom: 32px;
  width: 100%;
  padding: 0 45px;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 25px;
  color: #000;
  background-size: 30px 30px;
  background-image: url("../images/quoted.png");
  -moz-transition: color 0.2s;
  transition: color 0.2s;
  background-repeat: no-repeat;
}
.review-y-slider .txt-with-img h3 {
  font-size: 13px;
  line-height: 20px;
  margin: 5px 0 0 0;
  font-family: "Space Grotesk";
  font-weight: 900;
  color: #000;
}
.review-y-slider .txt-with-img h4 {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  font-family: "Space Grotesk";
  font-weight: 400;
  color: #000;
}
/* Pricing Page How it works */
.pricingPage-how-it-works-outer {
  background: #eceff2;
  padding: 70px 20px;
}
.pricingPage-projects-sizes-section-outer .tab-content .box {
  background: #656788;
}
/* Quotes Section */
.quotes-section-outer {
  padding: 80px;
  background: #000221;
  text-align: center;
}
.quotes-section-outer h3 {
  text-transform: uppercase;
  font-family: "Source-Sans-Pro-900";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.4);
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.quotes-section-outer h1 {
  font-size: 65px;
  line-height: 70px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 10px;
}
.quotes-section-outer p {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  padding-bottom: 20px;
}
.quotes-section-outer .quotes-box h2 {
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 15px;
  color: #fff;
  letter-spacing: -0.04em;
  font-family: "Source-Sans-Pro-600";
  text-align: left;
}
.quotes-section-outer .quotes-box p {
  font-size: 17px;
  line-height: 20px;
  text-align: left;
  letter-spacing: -0.01em;
  opacity: 0.7;
  font-family: "Space Grotesk";
  color: #fff;
  font-weight: 600;
  font-style: normal;
  padding: 0 60px 0 0;
}
.quotes-section-outer .quoute-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.quotes-section-outer .quotes-box {
  width: 100%;
  max-width: 50%;
  padding: 30px 0px 20px;
}

/* Invest Brand Section */
.invest-brand-outer {
  padding: 80px;
  background: #000221;
  text-align: center;
}
.invest-brand-outer h1 {
  font-size: 65px;
  line-height: 70px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 10px;
}
.invest-brand-outer p {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  padding-bottom: 20px;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
.invest-brand-outer .brand-img-topper {
  position: absolute;
  left: 0;
  z-index: 1;
}
.invest-brand .text {
  text-align: left;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: -38px;
}
.invest-brand-row {
  display: flex;
  padding: 80px 0 0;
}
.invest-brand-outer .invest-brand {
  width: 100%;
  max-width: 33.333%;
  position: relative;
}
.down-arrow {
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("../images/arrow-big-up.png");
  background-size: 23px 29px;
  height: 35px;
  transform: rotate(180deg);
  margin: 5px;
}
.invest-brand .text p {
  font-size: 18px;
  line-height: 25px;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  letter-spacing: -0.01em;
  color: #fff;
  padding: 0;
  max-width: 100%;
}
/* Review Slider */
.pricingPage-review-section-outer
  .review-x-slider
  .card-block.slick-slide[data-slick-index="3"] {
  background: #ddb473;
}
.pricingPage-review-section-outer
  .review-x-slider
  .card-block.slick-slide[data-slick-index="4"] {
  background: #8b867b;
}
/* Pricing-banner */
.pricing-banner-row {
  background-color: #000221;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  top: 0;
  z-index: 1;
}
.pricing-banner-row .banner-txt {
  width: 100%;
  max-width: 55%;
  padding: 110px 0 50px 40px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.pricing-banner {
  background: #eceff2;
  padding: 0 0 50px;
}
.pricing-banner-row .left-side h1 {
  font-size: 75px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 80px;
  font-weight: 400;
}
.pricing-banner-row .left-side h1 span {
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 75px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 80px;
  letter-spacing: -0.01em;
}
.pricing-banner-row .left-side p {
  font-size: 23px;
  line-height: 30px;
  font-family: "Space Grotesk";
  color: #fff;
  letter-spacing: -0.02em;
  padding: 60px 0px 30px;
  width: 100%;
  max-width: 50%;
}
.pricing-banner-row .left-side a.btn {
  font-size: 17px;
  line-height: 25px !important;
  background-color: #c3c5ea;
  color: #000;
  cursor: pointer;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  text-decoration: none;
  border-radius: 2px;
  font-family: "Space Grotesk";
  font-weight: 700;
  padding: 15px 25px;
}
.pricing-banner-row .left-side a.btn:hover {
  background-color: #e8e9fa;
}
.pricing-banner-row .left-side {
  width: 100%;
  max-width: 60%;
  padding: 110px 0 50px 42px;
}
.pricing-banner-row .img {
  position: absolute;
  background-image: url(../images/pricing-hero-bg.png);
  background-repeat: no-repeat;
  background-size: 94% 76%;
  width: 37%;
  top: 34%;
  bottom: 0;
  left: 21%;
  height: 100%;
  z-index: 1;
}
.pricing-banner-row .right-side {
  width: 100%;
  max-width: 40%;
  padding: 110px 50px 42px 0;
}
.pricing-hero-story .story-prompt {
  display: block;
  overflow: hidden;
  position: relative;
  padding-left: 65px;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.pricing-hero-story-prompt {
  width: 100%;
  height: 50px;
  font-family: "Source-Sans-Pro-600";
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #fff;
  background-position: 0;
  background-image: url("../images/pricing-hero-customer.png");
}
.pricing-hero-story-quote {
  border-left: 1px solid #fff;
  padding-right: 65px;
  background-position: 100% 0;
  background-image: url("../images/pricing-hero-expert.png");
  margin: 10px 0 10px 24px;
}
.pricing-hero-story:last-child .pricing-hero-story-quote {
  border: none;
}
.pricing-hero-story-quote .hero-story-row {
  width: 100%;
  background: #292943;
  box-shadow: 0 2px 20px rgb(0 0 0 / 28%);
  padding: 15px 60px 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-story-row .hero-story-card h3 {
  font-size: 14px;
  line-height: 0px;
  display: inline-block;
  font-family: "Space Grotesk";
  font-weight: 800;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0px 0px 5px;
  opacity: 0.4;
  transition: opacity 0.2s;
}
.hero-story-row .hero-story-card h2 {
  font-family: "Source-Sans-Pro-600";
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  padding: 0;
}
/* Our Experts */
.expertPage-how-it-works-outer {
  background: #150603;
}
.expertPage-experts-section-outer {
  background: #150603;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-position: 86% 20%;
  background-size: 65% 58%;
}
.expertPage-how-it-works-outer p:first-child {
  color: hsla(0, 0%, 100%, 0.3);
}
.expertPage-how-it-works-outer .box p {
  color: #ccc;
}
.expertPage-how-it-works-outer h1,
.expertPage-how-it-works-outer .box span,
.expertPage-how-it-works-outer .box h2 {
  color: #fff;
}
.expertPage-experts-section-outer .experts-text-section {
  max-width: 50%;
}
.expertPage-experts-section-outer .experts-text-section h1 span {
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  letter-spacing: -0.01em;
}
.expertPage-experts-section-outer .experts-text-section h1 {
  font-size: 70px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 55px;
  font-weight: 400;
  font-style: normal;
}
.expertPage-review-section-outer
  .review-x-slider
  .card-block.slick-slide[data-slick-index="0"] {
  background: #d8a57f;
}
.expertPage-review-section-outer
  .review-x-slider
  .card-block.slick-slide[data-slick-index="1"] {
  background: #afaba5;
}
.shopify-brands-logo-outer {
  background-color: #150603;
  text-align: center;
  padding: 60px;
}
.shopify-brands-logo-outer h1 {
  font-size: 65px;
  line-height: 70px;
  font-family: "Space Grotesk";
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.04em;
  color: #e0d4bc;
  margin-bottom: 20px;
}
.shopify-brands-logo-outer p {
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.02em;
  color: #e0d4bc;
  font-family: "Space Grotesk";
  font-weight: 400;
  font-style: normal;
  padding-bottom: 20px;
  width: 100%;
  max-width: 50%;
  margin: 0 auto;
}
.shopify-brands-logo-outer .logo-imgs {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}
.shopify-brands-logo-outer .logo-imgs img {
  padding: 20px 25px;
}
.pricing-banner-row .slider-xx.banner-imgs {
  width: 100%;
  max-width: 30%;
  position: absolute;
  right: 0;
  top: 0;
  padding: 140px 0 50px 40px;
  margin: 0 180px 0 auto;
}
.slider-xx.banner-imgs .card-block .txt {
  width: 100%;
  max-width: 90%;
  padding: 10px 22px 35px;
  position: absolute;
  bottom: 0;
}
.slider-xx.banner-imgs .card-block h2 {
  font-family: "Open Sans Regular";
  font-weight: 700;
  font-size: 23px;
  line-height: 34px;
  letter-spacing: -0.04em;
  padding: 12px 0 7px;
  margin: 0;
  color: #fff;
}
.slider-xx.banner-imgs .card-block p {
  color: #fff;
  font-family: "Space Grotesk";
  font-weight: 700;
  text-transform: none;
  text-align: left;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: -0.01em;
  margin: 0;
}
.slider-xx.banner-imgs .card-block .left-border {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  border: 2px solid #fff;
  border-right: none;
  opacity: 0.6;
}
.slider-xx.banner-imgs .card-block .right-border {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  border: 2px solid #fff;
  border-left: none;
  opacity: 0.6;
}
.slider-xx.banner-imgs .card-block a {
  padding: 15px 15px 13px;
}
.pricing-banner-outer .slider-yy .card-block a {
  filter: blur(10px) contrast(120%) brightness(75%);
  height: 100%;
  width: 97%;
}
.pricing-banner-outer .slider-yy .slick-track,
.pricing-banner-outer .slider-yy .slick-list {
  height: 100%;
}
.pricing-banner-outer .slider-yy .card-block a img {
  height: 93%;
}
.pricing-banner-outer .slider-yy {
  background-color: #150603;
  height: 700px;
}
.pricing-banner-outer .banner-btns a.btn {
  background-color: #efe8e0;
  color: #000;
}
/* Heavy-Lifting */
.heavy-lifting-outer {
  background-color: #000;
  position: relative;
}
.heavy-lifting-row {
  display: flex;
}
.heavy-lifting-row .left-sec {
  width: 100%;
  max-width: 60%;
  z-index: 2;
}
.heavy-lifting-row .right-sec {
  width: 100%;
  max-width: 40%;
  padding: 40px 0 0;
  z-index: 2;
}
.heavy-lifting-row .left-sec p {
  text-transform: uppercase;
  font-family: "Open Sans Regular";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: hsla(0, 0%, 100%, 0.4);
  letter-spacing: 0.1em;
  margin-bottom: 5px;
  text-align: left;
}
.heavy-lifting-row .left-sec h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 65px;
  letter-spacing: -0.01em;
}
.heavy-lifting-row .left-sec h1 span {
  font-size: 70px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 55px;
  font-style: normal;
  font-weight: 400;
}
.heavy-lifting-row .right-sec p {
  font-family: "Space Grotesk";
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
.heavy-lifting-row .right-sec p {
  display: inline-block;
  font-family: "Space Grotesk";
  font-size: 22px;
  color: #fff;
  font-weight: 400;
}
.heavy-lifting-row .right-sec .arrow {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-image: url("../images/arrow-big-up.png");
  background-size: 35px 35px;
  margin-bottom: 30px;
  width: 35px;
  height: 35px;
  transform: rotate(180deg);
}
.heavy-lifting-left-slider {
  padding: 55px 0 40px 20px;
}
.heavy-lifting-left-slider .row {
  display: flex !important;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: nowrap;
  margin: 0;
}
.heavy-lifting-left-slider .row .txt {
  width: 100%;
  max-width: 40%;
}
.heavy-lifting-left-slider .row .img {
  width: 100%;
  max-width: 60%;
  position: relative;
}
.heavy-lifting-left-slider .row .txt h2 {
  font-family: "Space Grotesk";
  font-weight: 400;
  font-size: 35px;
  line-height: 34px;
  letter-spacing: -0.04em;
  padding: 0 0 35px;
  margin: 0;
  color: #fff;
}
.heavy-lifting-left-slider .row .txt h3 {
  font-family: "Space Grotesk";
  font-weight: 500;
  font-size: 25px;
  line-height: 34px;
  letter-spacing: -0.04em;
  padding: 0 0 5px;
  margin: 0;
  color: #fff;
}
.heavy-lifting-left-slider .row .txt p {
  font-family: "Open Sans SemiBold";
  text-transform: initial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.04em;
  padding: 0 0 25px;
  margin: 0;
  color: #fff;
  opacity: 0.8;
}
.heavy-lifting-left-slider .row .img a {
  padding: 15px 80px;
}
.heavy-lifting-left-slider .card-block .left-border {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 60px;
  bottom: 0;
  width: 30px;
  border: 2px solid #fff;
  border-right: none;
  opacity: 0.6;
}
.heavy-lifting-left-slider .card-block .right-border {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 60px;
  bottom: 0;
  width: 30px;
  border: 2px solid #fff;
  border-left: none;
  opacity: 0.6;
}
.heavy-lifting-right-slider {
  padding: 15px 0 40px;
}
.heavy-lifting-right-slider .tab-txt {
  font-family: "Space Grotesk";
  text-transform: initial;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.04em;
  margin: 0 0 15px;
  color: #fff;
  opacity: 0.4;
  cursor: pointer;
  width: 100% !important;
}
.tab-txt.slick-slide.slick-current.slick-active {
  opacity: 1;
}
.bg-slider .card-block {
  filter: blur(7px) contrast(120%) brightness(75%);
  -webkit-filter: blur(7px) contrast(120%) brightness(75%);
}
.bg-slider .card-block.slick-slide[data-slick-index="0"] a {
  background-image: url(../images/expert-1.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="1"] a {
  background-image: url(../images/expert-2.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="2"] a {
  background-image: url(../images/expert-3.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="3"] a {
  background-image: url(../images/expert-4.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="4"] a {
  background-image: url(../images/expert-5.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="5"] a {
  background-image: url(../images/expert-6.png);
}
.bg-slider .card-block.slick-slide[data-slick-index="0"] {
  background: #b58c53;
}
.bg-slider .card-block.slick-slide[data-slick-index="1"] {
  background: #383934;
}
.bg-slider .card-block.slick-slide[data-slick-index="2"] {
  background: #34382b;
}
.bg-slider .card-block.slick-slide[data-slick-index="3"] {
  background: #4b2921;
}
.bg-slider .card-block.slick-slide[data-slick-index="4"] {
  background: #010127;
}
.bg-slider .card-block.slick-slide[data-slick-index="5"] {
  background: #3e3530;
}
.bg-slider .card-block.slick-slide a img {
  display: none;
}
.bg-slider .card-block.slick-slide a {
  background-repeat: no-repeat;
  background-position: 0;
  height: 670px;
  background-size: 45% 100%;
  z-index: 9999999;
  width: 100%;
}
.heavy-lifting-row {
  width: 100%;
  display: flex;
  position: absolute;
  top: 0%;
  left: 0%;
  padding: 60px 50px;
}
/* Our-customers-page */
.our-customers-banner-outer {
  background: #000;
  padding: 120px 0 0 0;
}
.customers-banner-txt {
  width: 100%;
  max-width: 58%;
  margin: 0 auto;
  text-align: center;
}
.customers-banner-txt h1 {
  font-size: 75px;
  color: #fff;
  font-family: "Space Grotesk";
  letter-spacing: -0.06em;
  line-height: 80px;
  font-weight: 400;
  margin: 0;
}
.customers-banner-txt h2 {
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 75px;
  font-weight: 100;
  font-style: italic;
  font-family: "ui-monospace";
  line-height: 80px;
  letter-spacing: -0.01em;
  margin: 0;
}
.customers-banner-txt p {
  font-size: 23px;
  line-height: 30px;
  font-family: "Space Grotesk";
  color: hsla(0, 0%, 100%, 0.8);
  letter-spacing: -0.02em;
  padding: 35px 80px 60px;
  margin: 0;
}
.brandbelt-line-lineitem {
  display: inline-flex;
  align-items: center;
  justify-content: left;
}
.brandbelt-photo img {
  border-radius: 10px;
}
.our-customers-banner-outer .brandbelt-line {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 50px 0;
  transform: scale(1.07);
}
.brandbelt-line .brandbelt-photo {
  width: 100%;
}
.brandbelt-line .brandbelt-logo {
  width: 100%;
  padding: 0px 15px;
}
.customer-scrollto-outer {
  background: #000;
  position: relative;
}
.customer-scrollto-outer .scrollto-txt {
  width: 100%;
  max-width: 64%;
  margin: 0 auto;
  display: flex;
  padding: 10px 10px;
}
.customer-scrollto-outer a {
  font-family: "Source-Sans-Pro-700";
  font-size: 21px;
  letter-spacing: -0.04em;
  line-height: 30px;
  color: #fff;
  opacity: 0.4;
  padding: 10px;
  margin: 5px 15px;
}
.scrollto-sec-outer .font-black h2 {
  color: #000;
  opacity: 1;
}
.scrollto-sec-outer .font-black p {
  color: #000;
  opacity: 1;
}
.scrollto-sec-outer .font-white h2 {
  color: #fff;
  opacity: 1;
}
.scrollto-sec-outer .font-white p {
  color: #fff;
  opacity: 0.5;
}
.scrollto-bg-white .img-sec-row .column-with-img h3,
.scrollto-bg-grey .img-sec-row .column-with-img h3 {
  background-image: url(../images/black-arrow.png);
  color: #000;
}
.sec-2 .scrollto-sec-outer .img-sec-row {
  flex-direction: row-reverse;
}
.customer-scrollto-outer::after {
  content: " ";
  display: block;
  width: 100%;
  height: 20px;
  border: 2px solid #fff;
  border-bottom: none;
  opacity: 0.4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  max-width: 96%;
}
.customer-scrollto-outer a:hover {
  color: #fff;
  opacity: 1;
}
.scrollto-sec-outer {
  position: relative;
}
.scrollto-sec-outer .txt-sec h2 {
  font-family: "Open Sans ExtraBold";
  font-size: 65px;
  line-height: 80px;
  letter-spacing: -0.04em;
  margin-bottom: 5px;
}
.scrollto-sec-outer .txt-sec p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 0;
  font-family: "Space Grotesk";
  font-weight: 500;
  padding: 0 45px 0 0;
}
.img-sec-row .column-with-img a img {
  display: block;
  margin-bottom: 5px;
}
.img-sec-row .column-with-img h3 {
  font-size: 13px;
  color: #fff;
  line-height: 15px;
  font-family: "Space Grotesk";
  font-weight: 400;
  letter-spacing: -0.02em;
  padding-left: 20px;
  margin: 0;
  background-image: url("../images/white-arrow.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 15px 15px;
}
.scrollto-bg-black {
  background: #000;
}
.scrollto-bg-white {
  background: #fff;
}
.scrollto-bg-grey {
  background: #f5f5f5;
}
.scrollto-sec-outer {
  padding: 45px 0 80px;
}
.scrollto-sec-outer .img-sec-row {
  display: flex;
  width: 100%;
  padding: 0 0 0 35px;
}
.scrollto-sec-outer .img-sec-row .column-with-img {
  width: 100%;
  max-width: 25%;
  padding: 0 8px;
}
.scrollto-sec-outer .img-sec-row .col1 {
  margin-top: 0px;
  max-width: 30%;
}
.scrollto-sec-outer .img-sec-row .col2 {
  margin-top: 15px;
  max-width: 21%;
}
.scrollto-sec-outer .img-sec-row .col3 {
  margin-top: 125px;
  max-width: 26%;
}
.scrollto-sec-outer .img-sec-row .col4 {
  margin-top: 30px;
  max-width: 23%;
}
.scrollto-sec-outer .column-with-img a img:first-child {
  align-self: flex-start;
}
.scrollto-sec-outer .column-with-img a img:last-child {
  width: 100%;
}
.scrollto-sec-outer .column-with-img a {
  display: flex;
  align-items: end;
  flex-direction: column;
}
.scrollto-sec-outer .column-with-img .txt-sec {
  padding-bottom: 60px;
}
.scrollto-sec-outer .img-sec-row .col1 a {
  padding: 0 0 0 40px;
}
.scrollto-sec-outer .img-sec-row .col1 h3 {
  margin: 0 0 0 40px;
}
.scrollto-sec-outer .row-reverse {
  flex-direction: row-reverse;
}
.scrollto-sec-outer .row-reverse .col1 a {
  padding: 0;
}
.scrollto-sec-outer .row-reverse .col1 h3 {
  margin: 0;
}
.row-reverse .col1 .txt-sec {
  padding: 0 0 60px 40px;
}
.customersPage-story-section-outer {
  background: #edeae5;
  padding: 140px 0px;
}
.customers1Page-story-section-outer {
  background: #edeae5;
  padding: 85px 0px;
}
.customersPage-story-section-outer .tab-content-1 h1 img {
  width: 100%;
  max-width: 22%;
}
.customersPage-story-section-outer #tabs-content-1 .footer-txt {
  padding: 0 120px 0 55px;
}
.customersPage-story-section-outer .tab-content-1 {
  display: flex !important;
  align-items: center !important;
}
.customersPage-lets-start-section-outer {
  margin: 0;
}